[Desktop Entry]
Encoding=UTF-8
Name=Link to add.png
Type=Link
URL=https://github.com/muecoin/MUECore/blob/master/src/qt/res/icons/drkblue/add.png?raw=true
Icon=image-png
